// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: $white;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* General */
.fill{
    min-height: 100%;
    height: 100%;
    &.vh100-55px{
        height: calc(100vh - 55px) !important;
    }
}
.btn-primary {
    color: #fff;
    background-color: $blue-c;
    border-color: $blue-c;
    box-shadow: 0 0 0 0 #00000030;
    border: 1px solid $blue-c;
}
.btn-danger, .btn-primary, .btn-success, .dark-blue-btn, .btn-secondary, .btn-light {
    border-radius: 25px;
    min-height: 35px !important;
    line-height: 20px !important;
    text-transform: capitalize;
    font-size: .95em;
}
.remove-rounded{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.card-header {
    padding: 0;
}
.active {
	background-color: #eee;
}
.alert {
    border-radius: 0rem;
    margin-bottom: 0rem;
}
.richText-editor {
	height: 100% !important;
}	
.richText-toolbar {
	font-size: 12px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
#search-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    width: 100%;
    #search {
        border-left: 0;
        border-top: 0;
        border-right: 0;
        padding: .5rem .5rem;
        -webkit-transition: border-color .2s ease;
        transition: border-color .2s ease;
        width: 100%;
        + i{
            border-bottom: 1px solid #ccc;
            border-right: 0;
            border-top: 0;
            border-left: 0;
            color: #495057;
            padding: .69rem .65rem;
            -webkit-transition: border-color .2s ease;
            transition: border-color .2s ease;
        }
    }
}
#search-wrapper-rooms{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    width: 100%;
    #searchRooms{
        border-left: 0;
        border-top: 0;
        border-right: 0;
        padding: .5rem .5rem;
        -webkit-transition: border-color .2s ease;
        transition: border-color .2s ease;
        width: 100%;
    }
    input + i{
        border-bottom: 1px solid #ccc;
        border-right: 0;
        border-top: 0;
        border-left: 0;
        color: #495057;
        padding: .69rem .65rem;
        -webkit-transition: border-color .2s ease;
        transition: border-color .2s ease;
    }
}
/* Nav */
.nav{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    > li{
        position: relative;
        display: block;
        &:disabled{
            > a{
                color: #777;
                &:hover, &:focus{
                    color: #777;
                    text-decoration: none;
                    cursor: not-allowed;
                    background-color: transparent;
                }
            }
        }
        > a{
            position: relative;
            display: block;
            padding: 5px 15px;
            
            &:hover, &:focus{
                text-decoration: none;
                background-color: #eee;
            }
            > img{
                max-width: none;
            }
        }
    }
    .open >{
        a, a:hover, a:focus{
            background-color: #eee;
            border-color: #337ab7;
        }   
    }
    .nav-divider{
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    &.nav-pills{
        &.nav-stacked{
            li{
                a, span{
                    opacity: 0.6;
                }
                a.active{
                    opacity: 1 !important;
                    font-weight: bold;
                    border: 1px solid #ddd;
                }
            }
        }
    }
}
#navbarSupportedContent{
    @media(max-width:$medium - 0.5px){
        position: absolute;
        top: 50px;
        background: white;
        z-index: 9;
        padding: 20px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
}
.nav-tabs{
    border-bottom: 1px solid #ddd;
    > li{
        float: left;
        margin-bottom: -1px;
        > a{
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            &:hover{
                border-color: #eee #eee #ddd;
            }
        }
        &.active >{
            a, a:hover, a:focus{
                color: #555;
                cursor: default;
                background-color: #fff;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
            }
        }
    }
    &.nav-justified{
        width: 100%;
        border-bottom: 0;
        > li{
            float: none;
            > a{
                margin-bottom: 5px;
                text-align: center;
                margin-right: 0;
                border-radius: 4px;
                @media (min-width: $medium){
                    border-bottom: 1px solid #ddd;
                    border-radius: 4px 4px 0 0;
                }
            }
            @media (min-width: $medium){
                display: table-cell;
                width: 1%;
            }
        }
        > .dropdown .dropdown-menu{
            top: auto;
            left: auto;
        }
        > .active{
            > a, > a:hover, > a:focus{
                border: 1px solid #ddd;
                @media (min-width: $medium){
                    border-bottom-color: #fff;
                }
            }
        }
    }
    .dropdown-menu{
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.nav-pills{
    > li{
        > a{
            border-radius: 4px;
        }
        + li{
            margin-left: 2px;
        }
        &.active{
            > a, > a:hover, > a:focus{
                color: #fff;
                background-color: #337ab7;
            }
        }
    }
}
.nav-stacked{
    > li{
        float: none;
        + li{
            margin-top: 2px;
            margin-left: 0;
        }
    }

}
.nav-justified{
    width: 100%;
    > li{
        float: none;
        > a{
            margin-bottom: 5px;
            text-align: center;
            @media (min-width: $medium) {
                margin-bottom: 0;
            }
        }
        @media (min-width: $medium) {
            display: table-cell;
            width: 1%;
        }
    }
    > .dropdown .dropdown-menu{
        top: auto;
        left: auto;
    }
}
.nav-tabs-justified{
    border-bottom: 0;
    > li{
        > a{
            margin-right: 0;
            border-radius: 4px;
            @media (min-width: $medium) {
                border-bottom: 1px solid #ddd;
                border-radius: 4px 4px 0 0;
            }
        }
    }
    > .active{
        > a, > a:hover, > a:focus{
            border: 1px solid #ddd;
            @media (min-width: $medium) {
                border-bottom-color: $white;
            }
        }
    }
}
.tab-content{
    > .tab-pane{
        display: none;
    }
    > .active{
        display: block;
    }
}
.navbar-custom{
    background-color: $white;
    color: #464646 !important;
    a{
        color: #464646 !important;
        letter-spacing: 1.14px;
        font-size: 14px;
        @media(max-width:$small){
            font-size: 12px;
        }
    }
}
#toggleSound{
    .btn-primary{
        border: none;
    }
    .btn label.btn-primary {
        background-color: #51ce86;
        border: 1px solid #51ce86 !important;
        color: #fff !important;
    }
    .btn label.toggle-off{
        background-color: #ff0142 !important;
        border: 1px solid #ff0142 !important;
        color: #fff !important;
    }
}
.primary-menu {
    @media(max-width:$medium){
        display: inline;
    }
    li{
        padding-right: 20px;
        margin-left: 10px;
        margin-right: 10px;
        @media(max-width:$medium){
            padding-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            text-align: center;
            display: inline-block;
            i{
                font-size: 21px;
            }
        }
    }
    li.rooms-list span{
        @media(max-width:$small){
            display:block;
        }
    }
    li.private-msg {
        @media(max-width:$small){
            vertical-align: text-bottom;
            span{
                display:none;
            }
        }
    }
    li.sounds{
        .nav-link{
            display:block ruby;
            @media(max-width:$small){
                display: block;
            }
            #toggleSound{
                >.toggle{
                    height: 25px !important;
                    min-height: 20px !important;
                    line-height: 10px !important;
                    .toggle-on, .toggle-off{
                        height: 25px !important;
                        min-height: 20px !important;
                        line-height: 10px !important;
                    }
                    @media(max-width: $small){
                        height: 15px !important;
                        min-height: 0px !important;
                        .toggle-on, .toggle-off{
                            height: 15px !important;
                            min-height: 0px !important;
                            padding: 0px !important;
                            line-height: 14px !important;
                        }
                    }
                }
            }
        }
        @media(max-width:$small){
            span{
                display:none;
            }
        }
    }
}
/* Avatar */
.p-navgroup-link.p-navgroup-link--user .avatar {
    height: 21px;
    font-size: 13px;
}
.avatar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    vertical-align: top;
    overflow: hidden;
    &.avatar--xxs{
        width: 26px;
        height: 26px;
        font-size: 14px;
        color: $white;
    }
    &.avatar--m{
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    &.avatar--default.avatar--default--dynamic, &.avatar--default.avatar--default--text{
        font-family: 'Arial',sans-serif;
        font-weight: normal;
        text-align: center;
        text-decoration: none !important;
        line-height: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
/* Home */
#card-box-messages.card{
    min-height: 200px;
}
#sidebar-block.card-body{
    min-height: 250px;
}
/* LoginUserComponent.vue */
#showModalLogin {
    label{
        font-weight: 600 !important;
    }
    .btn{
        font-size: .8em;
    }
}
/* RoomsComponent.vue */
#showModalRooms{
    .btn-success {
        background-color: $green-c;
        border: 1px solid $green-c;
        color: $white;
        min-height: 0px !important;
        width: 100%;
        border-radius: 4px;
        @media (max-width: $small){
            border-radius: 20px;
        }
    }
    small{
        font-size: 9px !important;
    }
    .modal-header span, #searchx, #smallText{
        font-size: 12px;
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .avatar.avatar--m {
        width: 40px;
        height: 40px;
        font-size: 30px;
    }
    table{
        > thead > tr td{
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: bold;
        }
        > tbody > tr td {
            padding: 3px 8px !important;
        }
        tbody td.table-col-2{
            width: 90px;
            @media (max-width:$small){
                width: 60px;
            }
        }
        tbody td.table-col-3{
            width: 90px;
        }
    }
    .table-striped tbody tr:nth-of-type(2n+1){
        background-color: $white;
    }
    .modal-dialog {
        @media (min-width:$medium) {
            max-width:600px;
            margin:30px auto;
        }
    }
    #toggleRooms{
        .btn-primary{
            border: none !important;
        }
        .btn label.btn-primary {
            background-color: $green-c;
            border: 1px solid $green-c !important;
            color: #fff !important;
        }
    }
    #smallText{
        font-size: 9px;
    }
}
/* ChatMessagesComponent.vue */
#chatGroup{
    @media(max-width: $semi-medium){
        max-width: 100%;
        flex: auto;
    }
}
#scroll-messages-content{
    z-index: 1;
    .msg{
        display: inline;
    }
    span{
        margin-left: 5px;
        display: inline;
        > p{
            margin: 0px !important;
            margin-bottom: 2px !important;
            display: inline;
        }
    }
    .date{
        display: inline;
    }
    .report{
        opacity: 0;
        margin-right: 3px;
        display: inline;
        @media(max-width: $medium){
            opacity: 0.5;
        }
    }
    .message_block:hover .report{
        opacity: 0.5;
        @media(max-width: $medium){
            opacity: 1;
        }
    }
}
/* SidebarComponent.vue */
#sidebarGroup{
    @media (max-width: $semi-medium){
        display: none;
        position: absolute;
        background: white;
        right: 0;
        max-width: 300px;
        z-index: 9;
        height: 100%;
    }
    table{
        background: white;
        thead{
            font-weight: bold;
        }
        td{
            font-size: 11px;
            line-height: 18px;
            padding: 3px 5px;
        }
    }
    .btn-success {
        background-color: $green-c;
        border: 1px solid $green-c;
        color: $white;
        min-height: 0px !important;
        width: 100%;
        border-radius: 4px;
        text-transform: uppercase;
    }
    #sidebar-block{
        padding-top: 1px;
    }
    .row{
        &.checkbox{
            font-size: 12px;
            background-color: #eee; 
            padding-top: 5px;
            padding-bottom: 5px;
            label{
                margin-bottom: 0px !important;
                input{
                    vertical-align: middle;
                }
            }
        }
    }
    #user-content{
        cursor:pointer;
    }
    .nav-pills li{
        width: 50%;
    }
    #search-wrapper-rooms input, #search-wrapper input, #search-wrapper-rooms i, #search-wrapper i{
        border: 0px !important;
    }
    .popup_user {
        display: none;
        position: absolute;
        color: black;
        padding: 40px;
        border: solid 1px #ddd;
        background: #f4f4f4 !important;
        width: 150px;
        z-index: 9;
        padding: 0px;
        font-size: .7em;
        div{
            width: 100%;
            padding: 5px;
            &:hover{
                background: #eee;
            }
            a{
                height: 100%;
                width: 100%;
                display: inline-block;
                text-decoration: none;
                color: black;
            }
        }
    }
}
/* slide_block */
#slide_block {
    margin-left: -30px;
    right: 0;
}
.slide_block {
    border-radius: 3px 0 0 3px !important;
    z-index: 10;
    width: 30px;
    height: 60px;
    background-color: $white !important;
    border: 1px solid #efefef;
    border-right: 0;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -50px;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0,.05),0 1px 6px rgba(0,0,0,.1) !important;
    &::before{
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: 50%;
        margin-left: -3px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 10px 7.5px 0;
        border-color: transparent #d4d0d0 transparent transparent;
    }
}
/*PrivateComponent.vue*/
.chat-private{
    position: absolute;
    bottom: 0;
    right: 25px;
    .chat-main{
        width: 270px;
        z-index: 99;
        background: white;
        margin-right: 10px;
    }
    .chat-header{
        background: $blue;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .username{
        i{
            font-size: 9px;
        }
        h6{
            display: inline-block;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .options {
        a{
            color: white;
        }
        i{
            font-size: 14px;
            font-weight: normal;
            opacity: 0.7;
        }
        .live-video{
            font-size: 6px;
        }
    }
    .chats{
        height: 260px;
        overflow-x: scroll;
        overflow-x: hidden;
        ul li{
            list-style: none;
            clear: both;
            font-size: 13px;
        }
        .send-msg{
            float: right;
        }
    }
    .receive-msg {
        img{
            border-radius: 100%;
            height: 30px;
            width: 12%;
        }
        .receive-msg-desc{
            display: inline-block;
        }
        .receive-msg-desc p{
            background: #c1c1c1;
        }
    }
    .receive-msg-img{
        display: inline;
    }
    .message-box {
        input{
            border: none;
            font-size: 13px;
            opacity: 0.7;
        }
        input:focus{
            outline: none;
        }
    }
    .tools i{
        color: #a1a1a1;
        cursor: pointer;
        font-size: 20px;
        margin-right: 6px;
    }
}