/* Scrollbar */
* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
/* - - */
body {
  background-color: #ffffff !important;
  font-family: 'Open Sans', sans-serif !important;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.remove-rounded{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#search-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row-reverse nowrap;
  -ms-flex-flow: row-reverse nowrap;
  flex-flow: row-reverse nowrap;
	width: 100%;
}
#search-wrapper #search {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: .5rem .5rem;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
  width: 100%;
}
#search-wrapper #search + i, #search-wrapper-rooms input + i  {
  border-bottom: 1px solid #ccc;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  color: #495057;
  padding: .69rem .65rem;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}

#search-wrapper-rooms {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row-reverse nowrap;
  -ms-flex-flow: row-reverse nowrap;
  flex-flow: row-reverse nowrap;
	width: 100%;
}

#search-wrapper-rooms #searchRooms {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: .5rem .5rem;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
  width: 100%;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 0;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.card-header {
    padding: 0;
}
.active {
	background-color: #eee;
}

.alert {
   border-radius: 0rem;
   margin-bottom: 0rem;
}

.richText-editor {
	height: 100% !important;
}	
.richText-toolbar {
	font-size: 12px;
}

.avatar.avatar--default.avatar--default--dynamic, .avatar.avatar--default.avatar--default--text {
    font-family: 'Arial',sans-serif;
    font-weight: normal;
    text-align: center;
    text-decoration: none !important;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.avatar.avatar--m {
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    vertical-align: top;
    overflow: hidden;
}

.avatar.avatar--xxs {
    width: 26px;
    height: 26px;
    font-size: 14px;
	color: white;
}

.p-navgroup-link.p-navgroup-link--user .avatar {
    /* width: 21px; */
    height: 21px;
    font-size: 13px;
}

.navbar-custom {
  background-color: white !important;
	color: #464646 !important;
}
.navbar-custom a{
  color: #464646 !important;
  letter-spacing: 1.14px;
  font-size: 14px;
}

/*
*
* CSS por Abraham
*
*/
/* NAV */
.nav.nav-pills.nav-stacked li a, .nav.nav-pills.nav-stacked li span{
  opacity: 0.6;
}
.nav.nav-pills.nav-stacked li a.active{
  opacity: 1 !important;
  font-weight: bold;
  border: 1px solid #ddd;
}
/* GENERAL */
.fill{
  min-height: 100%;
  height: 100%;
}
.btn-primary {
  color: #fff;
  background-color: #4c8ec7;
  border-color: #4c8ec7;
  box-shadow: 0 0 0 0 #00000030;
  border: 1px solid #4c8ec7;
}
.btn-danger, .btn-primary, .btn-success, .dark-blue-btn, .btn-secondary, .btn-light {
  border-radius: 25px;
  min-height: 35px !important;
  line-height: 20px !important;
  text-transform: capitalize;
  font-size: .95em;
}
/* Navbar */
#toggleSound .btn-primary{
  border: none;
}
#toggleSound .btn label.btn-primary {
  background-color: #51ce86;
  border: 1px solid #51ce86 !important;
  color: #fff !important;
}
.primary-menu li{
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
/* HOME */
#card-box-messages.card{
  min-height: 200px;
}
#sidebar-block.card-body{
  min-height: 250px;
}
#scroll-messages-content.messages-content span>p{
  margin-bottom: 2px !important;
  display: inline;
}
/* Login */
#showModalLogin label{
  font-weight: 600 !important;
}
#showModalLogin .btn{
  font-size: .8em;
}
/* Modal rooms */
#toggleRooms .btn-primary{
  border: none !important;
}
#toggleRooms .btn label.btn-primary {
  background-color: #51ce86;
  border: 1px solid #51ce86 !important;
  color: #fff !important;
}
/* slide_block */
#slide_block {
  margin-left: -30px;
  right: 0;
}
.slide_block {
  border-radius: 3px 0 0 3px !important;
  z-index: 10;
  width: 30px;
  height: 60px;
  background-color: #fff !important;
  border: 1px solid #efefef;
  border-right: 0;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -50px;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0,.05),0 1px 6px rgba(0,0,0,.1) !important;
}
.slide_block::before {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 50%;
  margin-left: -3px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #d4d0d0 transparent transparent;
}